
.product-section {
    padding: 9.4em 2em 0 2em;
    max-width: 1300px;
    margin: auto;
    height: 100vh;
    position: relative;
}

.product-section * {
    font-family: 'Roboto';
    font-style: normal;
}

.button-back {
    background-color: transparent;
    font-size: 1rem;
    margin: 1rem 0;
    position: absolute;
    top: 0;
    left: 2%;
}

.product-section .product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

.product-section .product-info {
    margin-top: 11px;
    max-width: 465px;
    display: flex;
    flex-direction: column;
}

.product-section .product-info .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #1E1E1E;
}

.product-section .product-img {
    display: flex;
    justify-content: center;
    height: 560px;
    width: 560px;
    min-width: 450px;
    min-height: 450px;
}

.product-section .product-img img {
    object-fit: cover;
    width: 100%;
}


.product-section .product-info .price {
    margin-top: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #686363;
}

.product-section .product-info .description {
    margin-top: 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #686363;
}

.product-section .product-info .size {
    margin-top: 37px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #686363;
}

.product-section .product-info .size > span {
    margin-top: 37px;
    font-weight: 500;
    color: #1E1E1E;
}

.product-section .product-info .buttons {
    margin-top: 50px;
}

.product-section .size-options {
    margin-top: 16px;
    display: flex;
    gap: 18px;
}

.product-section .size-options > div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    gap: 4px;
    border: 1px solid #E9E5E5;
    border-radius: 8px;
    width: 133px;
    transition: all 0.5s;
}

.size-options > div > span:nth-child(1) {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #1E1E1E;
}

.size-options > div > span:nth-child(2) {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #686363;
}



.product-section .size-options > div:hover {
    border: 1px solid #686363;
}

.product-section .size-options > .select {
    border: 1px solid #686363;
}

.product-section .buttons {
   display: flex;
   gap: 16px;
   align-items: center;
}

.product-section .buttons button {
    cursor: pointer;
    padding: 12px;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.product-section .buttons a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.5s;
}

.product-section .buttons a:nth-child(1) {
    background: #1E2832;
    color: #F6F6F6;
}

.product-section .buttons a:nth-child(3) {
    background: #ffff;
    color: #1E1E1E;
    border: 1px solid #E9E5E5;
}

.product-section .buttons a:nth-child(1):hover {
    background: #B18A75;
    color: #F6F6F6;
}

.product-section .buttons a:nth-child(3):hover {
    background: #E9E5E5;
}
.product-section .buttons > span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #686363;
}

.size-skeleton{
    padding: 0 !important;
    border: none !important;
}


@media only screen and (min-width:701px) and (max-width: 1100px) {
  
}
@media all and (max-width: 700px) {
    .product-section {
        padding: 3em 2em 0 2em;
    }
    .product-section .product-container {
        flex-direction: column;
    }
    .product-section .product-img {
        height: 100%;
        width: auto;
        min-width: auto;
        min-height: auto;
    }
}
  